.header {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header .disabled {
    font-size: 0.8rem;
}

.header a {
    font-weight: 500;
    border-radius: 10px;
}

.header .collapse a:hover {
    background-color: #000;
    color: #fff;
}

.header .nav-icons {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.header .nav-icons .nav-link {
    margin-right: 0.5rem;
}

.header .fa-caret-up,
.header .fa-caret-down {
    margin-left: 0.5rem;
}

#wishlist-icon {
    --fa-beat-scale: 1.5;
}

.wishlist,
.shopping-cart {
    position: relative;
}

#wishlist-quantity,
#shopping-cart-quantity {
    width: 16px;
    height: 16px;
    font-weight: 700;
    font-size: 0.6rem;
    color: #000;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 3%;
    right: 15%
}

#services-dropdown,
#pc-dropdown,
#sales-dropdown {
    display: none;
    z-index: 999;
}

.search {
    position: relative;
}

#search-dropdown {
    display: none;
    background-color: #d3d3d3;
    padding: 1rem 2rem;
    width: 40vw;
    border-radius: 10px 0 0 10px;
    position: absolute;
    bottom: -5rem;
    right: 0;
}

#search-dropdown button {
    border: 1px solid #000
}


#search-dropdown button:hover {
    background-color: #000;
    color: #fff;
}

.signin-modal .modal-title,
.signin-modal .modal-footer .btn-primary {
    margin-left: calc(50% - 2rem);
}

.signin-modal .modal-footer .btn-primary {
    min-width: 150px;

}

.modal-logo img {
    margin-right: calc(50% - 5rem);
}

.signin-modal .modal-footer a {
    color: #0d6efd;
}

.signin-modal .modal-footer a:hover {
    color: #0d6efd;
    text-decoration: underline;
}



/* Media Queries */

@media (max-width: 768px) {
    .navbar>.container-fluid {
        justify-content: flex-start;
    }

    .navbar-brand {
        margin-left: calc(50% - 125px);
    }

    .header .navbar-collapse li a {
        padding: 0.75rem 1rem
    }

}

@media (min-width: 768px) and (max-width: 900px) {
    .header a {
        font-size: 0.8rem;
    }

}

@media (min-width: 768px) {
    .header .navbar-collapse {
        display: flex;
        max-width: fit-content;
        margin: 0 auto;
    }

    .services {
        position: relative;
    }

    #services-dropdown {
        background-color: #fff;
        position: absolute;
        width: 30vw;
        padding: 0.5rem;
        padding-right: 2rem;
        border: 2px solid #000
    }

    #services-dropdown ul {
        padding: 0;
    }

    #services-dropdown .nav-item {
        margin-left: 10px;
    }

}

@media (min-width: 1000px) {
    .header .nav-icons {
        padding: 1rem;
    }
}

@media (min-width: 1200px) {

    .header .navbar-collapse li {
        margin-left: 2rem;
    }

    .header .nav-icons .nav-link {
        margin-right: 1rem;
    }

    .header .nav-icons {
        padding: 1rem 2rem;
    }

    #wishlist-quantity,
    #shopping-cart-quantity {
        font-size: 0.7rem;
        height: 18px;
        width: 18px;
        top: 3%;
        right: 25%
    }

}

@media (min-width: 1500px) {

    .header .nav-icons {
        margin-right: 2rem;
    }

}