.product-tile {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 300px;
    height: 500px;
    margin: 1rem 1.5rem;
    padding: 0;
    position: relative;
    z-index: 1;
}

.product-tile img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 70%;
    position: relative;
    z-index: -1;
}

.product-tile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: #d3d3d3;
}

.product-tile .info p {
    text-align: center;
}

.product-tile .info h5 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.product-tile .info .price {
    font-weight: 600;
    font-size: 2.5rem;
    color: #5194f9;
    margin-top: -0.5rem;
    position: relative;
}

.product-tile .info .price::before {
    content: '$';
    position: absolute;
    top: 0;
    left: -0.75rem;
    font-size: 1.2rem;
}

.product-tile .sidebar {
    height: 70%;
    margin-top: 1.5rem;
    background-color: #5194f9;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;
}

.product-tile:hover .sidebar {
    left: -50px;
}

.product-tile .sidebar button {
    border: none;
    border-radius: 0 10px 10px 0;
    color: #fff;
    padding: 1rem;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 0.75rem 0;
}

.product-tile .sidebar .add-to-cart {
    background: transparent url("../../../public/img/product-tiles/sidebar-icons/shopping-cart.jpg") no-repeat left;
}

.product-tile .sidebar .add-to-wishlist {
    background: transparent url("../../../public/img/product-tiles/sidebar-icons/hearth.jpg") no-repeat left;
}

.product-tile .sidebar .more-info {
    background: transparent url("../../../public/img/product-tiles/sidebar-icons/info.jpg") no-repeat left;
}

.product-tile .sidebar button span {
    white-space: nowrap;
    margin-left: 40px;
    font-size: 1rem;
}

.product-tile .sidebar button:hover {
    width: 200px;
    background-color: #5194f9;
}