.pdp {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
}

.pdp .images,
.pdp .big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pdp .big-image {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
}

.pdp .big-image img {
    width: 100%;
    height: 100%;
    /* max-width: 45vw;
    max-height: 70vh; */
    border-radius: 10px;
    display: none;
}

.pdp .big-image #big-1 {
    display: block;
}

.pdp .thumbnails {
    display: flex;
    justify-content: center;
}

.pdp .thumbnails img {
    max-width: 30%;
    max-height: 15vh;
    margin: 1rem;
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.pdp .thumbnails img:hover {
    opacity: 1;
}

.pdp .info {
    background-color: #fff;
    position: relative;
}

.pdp .discount {
    background-color: red;
    color: #fff;
    padding: 0 1rem;
    border-radius: 5px;
    font-size: 75%;
    position: absolute;
    top: 0;
    right: 0;
}

.pdp #add-to-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.75rem;
    width: fit-content;
    margin-top: 2.75rem;
    transition: all 0.4s ease-in-out;
}

.pdp #add-to-wishlist:hover {
    color: #0d6efd;
    background-color: #fff;
}

.pdp .info .rating {
    position: relative;
    width: fit-content;
    top: -2rem;
    right: -8rem;
    color: #faaf00;
    font-weight: 600;
}

.pdp .info .inStock {
    color: #0d6efd;
    font-weight: 600;
}

.pdp .info .inStock span {
    color: #000;
    font-size: 0.8rem;
}

.pdp .colors {
    margin: 1rem 0;
}

.pdp .colors .color1 {
    background-color: rgb(152, 45, 45);
}

.pdp .colors .color2 {
    background-color: rgb(44, 44, 170);
}

.pdp .colors .color3 {
    background-color: rgb(160, 160, 68);
}

.pdp .colors .color4 {
    background-color: black;
}

.pdp .colors .color5 {
    background-color: rgb(28, 201, 28);
}

.pdp .colors span {
    padding: 0.2rem 0.9rem;
    border-radius: 50%;
    margin: 0 1rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.pdp .colors span:hover {
    transform: scale(1.5);
}

.pdp .info ul li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 1.2rem;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #d3d3d3;
    width: 40px;
    text-align: center;
}

.pdp .info ul li:hover {
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

.pdp .info .price {
    font-weight: 600;
    position: relative;
}

.pdp .info .price span {
    font-weight: 400;
    font-size: 50%;
    text-decoration-line: line-through;
    position: absolute;
    top: 0;
    left: 8.5rem;
    color: rgb(194, 39, 39);
}

.pdp .add-to-cart button {
    color: #fff;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    width: 40px;
    height: 40px;
}

.pdp .add-to-cart button:hover {
    color: #0d6efd;
    background-color: #fff;
}

.pdp .add-to-cart span {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    bottom: -3px;
}

#add-to-cart {
    width: fit-content;
    border-radius: 10px;
    margin-left: 2rem;
    padding: 0 1rem;
}

.pdp .share a {
    font-size: 1.5rem;
    margin: 0 1rem;
}

.pdp .share a:hover i {
    color: #0d6efd;
}