@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.content {
  background-color: #d3d3d3;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content {
  padding: 1rem 2rem;
}

.dummy-row {
  flex: 1;
}

a,
.nav-link,
.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
}